[submodule "rekor"]
	path = rekor
	url = https://github.com/hatmarch/rekor.git
	branch = tssc-demo
[submodule "ploigos-step-runner"]
	path = ploigos-step-runner
	url = https://github.com/hatmarch/ploigos-step-runner
	branch = main
